<mat-toolbar color="primary" style="background-color: primary;">
    <mat-toolbar-row>
      <span><h1>Keep Note</h1></span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">home</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">apps</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <br><br>
  

       

